/* font regular */
@font-face {
  font-family: 'jakarta-regular';
  src: url('./assets/Plus_Jakarta_Sans/static/PlusJakartaSans-Regular.ttf')
    format('truetype');
  font-weight: 400;
  font-style: normal;
}
/* font bold */
@font-face {
  font-family: 'jakarta-bold';
  src: url('./assets/Plus_Jakarta_Sans/static/PlusJakartaSans-Bold.ttf')
    format('truetype');
  font-weight: 700;
  font-style: normal;
}
/* font medium */
@font-face {
  font-family: 'jakarta-medium';
  src: url('./assets/Plus_Jakarta_Sans/static/PlusJakartaSans-Medium.ttf')
    format('truetype');
  font-weight: 500;
  font-style: normal;
}
/* font light */
@font-face {
  font-family: 'jakarta-light';
  src: url('./assets/Plus_Jakarta_Sans/static/PlusJakartaSans-Light.ttf')
    format('truetype');
  font-weight: 300;
  font-style: normal;
}
/* font regular italic */
@font-face {
  font-family: 'jakarta-regular-italic';
  src: url('./assets/Plus_Jakarta_Sans/static/PlusJakartaSans-RegularItalic.ttf')
    format('truetype');
  font-weight: 400;
  font-style: italic;
}
/* font bold italic */
@font-face {
  font-family: 'jakarta-bold-italic';
  src: url('./assets/Plus_Jakarta_Sans/static/PlusJakartaSans-BoldItalic.ttf')
    format('truetype');
  font-weight: 700;
  font-style: italic;
}
/* font extra light */
@font-face {
  font-family: 'jakarta-extra-light';
  src: url('./assets/Plus_Jakarta_Sans/static/PlusJakartaSans-ExtraLight.ttf')
    format('truetype');
  font-weight: 200;
  font-style: normal;
}

.fade-in {
  animation: fadeIn 0.5s ease-in-out;
}

/* fade in animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

html {
  font-size: 16px;
}

body {
  color: #333;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
